.tabs-menu {
    height: 30px;
    float: left;
    clear: both;
    list-style: none;

}
*.form-control {width: 70%;}

.tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #ccc;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
}

.tabs-menu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none; 
}

.tabs-menu .current a {
    color: #2e7da3;
}

.tab {
    border: 0px solid #d4d4d1;
    /*background-color: #fff;*/
    float: left;
    margin-bottom: 20px;
    width: auto;
    height:auto;
}

.tab-content {
    width: 100%;
    padding: 20px;
    display: none;
}

#tab-1 {
    display: block;
    width: 100%;
}
.form-input .styled-select {padding: 0 ;   float: right;}
.form-input .styled-select select {width: 100%;}
.styled-select select:focus {border-color: #DD2C0D;}
.styled-select select {
    background: transparent;
    padding: 5px;
    line-height: 1;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    border: 2px solid #EBEBEB;
    width: 70%;
    outline: none;
}


/*Pruthuvi*/

::-webkit-scrollbar {
    width:  10px;
    height: auto;
}

::-webkit-scrollbar-thumb {
    background: #333;
}

::-webkit-scrollbar-track {
    background: #ddd;
}
div#lui_list {display: none!important;}
.ui-jqgrid-titlebar { background-color: #CC221A ;border-bottom: 2px solid #dddddd; color: #333333; width: 100%; height: 20px;}
a.ui-jqgrid-titlebar-close.HeaderButton.ui-corner-all {background: transparent;}
.ui-jqgrid-titlebar  a.ui-jqgrid-titlebar-close .ui-icon-circle-triangle-n{background-image: url("../image/comman/ui-icons.png"); background-position: -96px -192px; height:15px; width: 15px; float: right; cursor: pointer;}
.ui-jqgrid-titlebar  a.ui-jqgrid-titlebar-close .ui-icon-circle-triangle-s {background-image: url("../image/comman/ui-icons.png"); background-position: -65px -192px; height:15px; width: 15px; float: right; cursor: pointer;}
.ui-jqgrid .ui-jqgrid-titlebar-close:hover {padding: 1px;}
/*.ui-jqgrid tr.ui-row-ltr td  {border-right: 0;}*/
.ui-jqgrid-hdiv.ui-state-default {background-color: transparent!important;}
.ui-jqgrid-bdiv {height: 271px!important; overflow-y: scroll;}
table.ui-jqgrid-htable.ui-common-table {border-bottom: 2px solid #DDDDDD; width: 100%!important;}
.ui-jqgrid tr.jqgrow td {border-color: #DDDDDD; padding: 3px 5px;}
table#list {color: #757575; width: 100%!important;}
table#list tr {padding: 5px; outline-style: none;  border-bottom: 1px solid #737373;}
table#list tr.ui-state-hover {background:none; background-color:#DD2C0D!important; color: #FFFFFF;}
table#list tr:focus {background-color: #CC221A; color: #FFFFFF;}
.selected {background-color: #CC221A; color: #FFFFFF;}
input.ui-pg-input.ui-corner-all { border: 2px solid #ddd; border-radius: 3px; text-align: center;}
table.ui-pg-table.ui-common-table.ui-paging-pager .ui-pg-button.ui-state-hover {background: none; border: 0; background-color: #DDDDDD;}
#prev_pager span {padding: 3px 10px; background-image: url("../image/comman/ui-icons1.png");background-position: -96px 3px; height:20px; width: 5px;}
#next_pager span {padding: 3px 10px; background-image: url("../image/comman/ui-icons1.png");  background-position: -32px 3px; height:20px; width: 5px;}
#first_pager span {padding: 3px 10px; background-image: url("../image/comman/ui-icons1.png"); background-position: -96px -13px; height:20px; width: 5px;}
#last_pager span {padding: 3px 10px; background-image: url("../image/comman/ui-icons1.png"); background-position: -32px -13px; height:20px; width: 5px;}
.jqgh_list_invid {font-weight: bold;}
.ui-jqgrid-hbox {padding: 0!important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background: none; border: 0;}
.ui-jqgrid-resize .ui-jqgrid-resize-ltr {display: none;}
table.ui-pg-table.ui-common-table.ui-pager-table {width: 100%!important;}
td#pager_center {width: 800px!important;}
span.ui-jqgrid-resize.ui-jqgrid-resize-ltr {display: none}
#input_pager {line-height: 1.25; } 
tr.ui-jqgrid-labels th {text-align: center; height: 40px;}
tr.ui-jqgrid-labels th .s-ico {position: relative;}
tr.ui-jqgrid-labels th .s-ico .ui-icon-triangle-1-n {height: 0;}
tr.ui-jqgrid-labels th .s-ico .ui-icon-triangle-1-n .ui-state-disabled {padding: 10px 5px; background-image: url("../image/comman/ui-icons1.png");    background-position: -130px -15px; display: none;}
tr.ui-jqgrid-labels th .s-ico .ui-icon-triangle-1-s {padding: 10px 5px; background-image: url("../image/comman/ui-icons1.png");   background-position: -130px -15px;     position: absolute; top: -20px; right: 35px;}
select.ui-pg-selbox.ui-widget-content.ui-corner-all {border: 1px solid #DDDDDD;}

#ui-datepicker-div {z-index: 101!important;}

.ui-jqgrid tr.jqgrow td {
    word-wrap: break-word; /* IE 5.5+ and CSS3 */
    white-space: pre-wrap; /* CSS3 */
    white-space: normal !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    overflow: hidden;
    height: auto;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px
}

/*login form*/
.form-signin {margin: 0 450px; margin-top: 10%; padding: 20px; color: #FFFFFF; width: 450px; box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.46);}
#login-form {width: 100%;}
.form-signin h2 {text-align: center; margin-bottom: 20px;}
.form-signin label {}
.form-signin label.email img { height: 30px; width: 30px; float: left;}
.form-signin label.paswrd img { height: 30px; width: 30px; float: left;}
.form-signin input {margin-bottom: 5px; width: 90%;  padding: 5px; float: right;}
.form-signin button{padding: 8px 20px ; box-shadow: 0px 4px 13px 1px rgba(0, 0, 0, 0.46); -webkit-box-shadow: 0px 4px 13px 1px rgba(0, 0, 0, 0.46); -moz-box-shadow: 0px 4px 13px 1px rgba(0, 0, 0, 0.46); border-radius: 2px!important;}
.form-signin button.btn-red {margin-left: 150px; margin-top: 20px;}
.form-signin p {font-size: 11px;}



/*BCS*/

.sloid {background: none; border: 0;}
.btn-round { text-decoration: underline;  border-radius: 50%!important; padding: 50px; height: 160px;}
.floatRight {float: right!important; margin: 0;}
.floaleft {float: left!important; }

.content-area { margin-top: 10px;}
.content-centr-area { margin-top: 10%;}
.content-holdr {padding: 1px 10px; color: #585858 !important;}
.Title-area {height: 75px; /*margin: 0 -15px;*/  font-family: "Open Sans", sans-serif; position: fixed; width: 76.5%; background: #F6F6F6; z-index: 200;}
/*.Title-area > .bagrnd-img {height: 67px;}*/
.Title-area h3 {margin-top: 10px; color: #585858; padding: 12px;     background: rgb(212, 212, 212);}

.form-area { padding: 75px 0 0 0;}

.two-collom {width: 100%; font-size: 11px;}
.two-collom .form-group {width: 50%; float: left;}
.full-width {width: 100%!important;}
.two-collom.no-flt .form-group {clear: both;}
.two-collom .form-input label {padding-top: 10px;     padding-bottom: 4px; float: left; }
.two-input {width: 70%;}
.two-input .form-control {width: 50%; float: left; margin-top: 0;}
.form-control {  background-color: rgb(245, 245, 245); border: 0; border-bottom: 1px solid rgb(167, 167, 167); color: #585858;}

label.control-label.icon-collaps.col-lg-4 {width: 100%;}

button.btn.btn-black.btn-sm:last-child ,
button.btn.btn-red:last-child { margin: 0;}

.bagrnd-img {background-size: 100%; background-attachment: fixed; background-color: #F6F6F6;}
.bg-wrapper {padding: 0 10px 10px; background-color: #FFFFFF; float: left; width: 100%; margin-bottom: 15px; overflow-x:auto; }
.bg-wrapper div#gbox_list{ margin-top: 10px;}

.content-holdr #tab-1 {padding: 0;}
.content-holdr .tabs-menu {padding: 0; margin: 0;}

.panel-body.panel-contnt {margin-top: 0; float: left; width: 100%;}

.status-btn {margin-top: 5%;}

.tabs-menu li a {color: #222222;}

.tab .form-group .icon-collaps:after {content: ""; background: url('http://icons.iconarchive.com/icons/iconsmind/outline/128/Scroll-icon.png') no-repeat top; height: 9px; width: 10px; float: right; background-size: 20px;}
.tab .form-group .icon-collaps.collapsed:after {content: ""; background: url('http://icons.iconarchive.com/icons/iconsmind/outline/128/Scroll-icon.png') no-repeat bottom; height: 9px; width: 10px; float: right; background-size: 20px;}
.tab .form-group {}
/*date picker*/

/*grid*/
table.dataTable tbody tr td{ border: solid #DDDDDD; border-width: 0 1px 0 0;}
table.dataTable thead tr th{ border: solid #DDDDDD; border-width:1px 1px 1px 0px;}
table.dataTable tbody tr td:first-child { border-width: 1px 1px 0px 1px;}
table.dataTable thead tr th:first-child { border-width: 1px 1px 1px 1px;}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {background-color: transparent;}
table.dataTable.hover tbody tr:hover, table.dataTable.hover tbody tr.odd:hover, table.dataTable.hover tbody tr.even:hover, table.dataTable.display tbody tr:hover, table.dataTable.display tbody tr.odd:hover, table.dataTable.display tbody tr.even:hover {background-color: rgba(245, 245, 245, 0.63);}
table.dataTable.display tbody tr:hover>.sorting_1, table.dataTable.display tbody tr.odd:hover>.sorting_1, table.dataTable.display tbody tr.even:hover>.sorting_1, table.dataTable.order-column.hover tbody tr:hover>.sorting_1, table.dataTable.order-column.hover tbody tr.odd:hover>.sorting_1, table.dataTable.order-column.hover tbody tr.even:hover>.sorting_1 {background-color: rgba(234, 234, 234, 0.25);}
table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {background-color: rgb(241, 241, 241);}
table.dataTable tbody tr {background-color: rgba(88, 88, 88, 0.02);}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 { background-color: rgb(241, 241, 241);}
div#example_filter {display: none;}
div#example_length {margin-bottom: 15px;}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable {z-index: 300;}

#accordion .achide .col-lg-1 {    margin-top: 20px;    text-align: right;}
